      <div class="navbar navbar-expand-md navbar-dark bg-green-800 border-0 shadow-0">
        <div class="d-md-none w-100">
          <button type="button" class="navbar-toggler d-flex align-items-center w-100" data-toggle="collapse" data-target="#navbar-navigation">
            <i class="icon-menu-open mr-2"></i>
            
          </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-navigation">
          <ul class="navbar-nav navbar-nav-highlight">
            <li class="nav-item">
              <a href="/" class="navbar-nav-link">
                <i class="icon-home4 mr-2"></i>
                Home Page
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= categories_path %>" class="navbar-nav-link">
                <i class="icon-grid mr-2"></i>
                Categories
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= insects_path %>" class="navbar-nav-link">
                <i class="icon-bug2 mr-2"></i>
                Insects
              </a>
            </li>

            <%# <li class="nav-item nav-item-levels mega-menu-full">
              <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="icon-make-group mr-2"></i>
                Navigation
              </a>

              <div class="dropdown-menu dropdown-content">
                <div class="dropdown-content-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Main</div>
                      <div class="dropdown-divider mb-2"></div>
                      <div class="dropdown-item-group mb-3 mb-md-0">
                        <ul class="list-unstyled">
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-copy"></i> Layouts</a>
                            <ul class="list-unstyled">
                              <li><a href="/layout_1/LTR/material/full/index.html" class="dropdown-item rounded">Default layout</a></li>
                              <li><a href="/layout_2/LTR/material/full/index.html" class="dropdown-item rounded">Layout 2</a></li>
                              <li><a href="/layout_3/LTR/material/full/index.html" class="dropdown-item rounded">Layout 3</a></li>
                              <li><a href="/layout_4/LTR/material/full/index.html" class="dropdown-item rounded">Layout 4</a></li>
                              <li><a href="index.html" class="dropdown-item active rounded">Layout 5</a></li>
                              <li>
                                <a href="/layout_6/LTR/material/full/index.html" class="dropdown-item disabled rounded">
                                  Layout 6
                                  <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-color-sampler"></i> Themes</a>
                            <ul class="list-unstyled">
                              <li><a href="../../../LTR/default/full/index.html" class="dropdown-item rounded">Default</a></li>
                              <li><a href="index.html" class="dropdown-item active rounded">Material</a></li>
                              <li>
                                <a href="../../../LTR/dark/full/index.html" class="dropdown-item disabled rounded">
                                  Dark
                                  <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span>
                                </a>
                              </li>
                              <li>
                                <a href="../../../LTR/clean/full/index.html" class="dropdown-item disabled rounded">
                                  Clean
                                  <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="../../../RTL/material/full/index.html" class="dropdown-item rounded">
                              <i class="icon-width"></i>
                              RTL version
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Layout</div>
                      <div class="dropdown-divider mb-2"></div>
                      <div class="dropdown-item-group mb-3 mb-md-0">
                        <ul class="list-unstyled">
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-stack2"></i> Page layouts</a>
                            <ul class="list-unstyled">
                              <li><a href="layout_navbar_fixed_main.html" class="dropdown-item rounded">Fixed main navbar</a></li>
                              <li><a href="layout_navbar_sticky_secondary.html" class="dropdown-item rounded">Sticky secondary navbar</a></li>
                              <li><a href="layout_navbar_hideable_main.html" class="dropdown-item rounded">Hideable main navbar</a></li>
                              <li><a href="layout_navbar_hideable_secondary.html" class="dropdown-item rounded">Hideable secondary navbar</a></li>
                              <li><a href="layout_footer_fixed.html" class="dropdown-item rounded">Fixed footer</a></li>
                              <li><a href="layout_footer_hideable.html" class="dropdown-item rounded">Hideable footer</a></li>
                              <li><a href="layout_without_header.html" class="dropdown-item rounded">Without page header</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-page-break2"></i> Headers &amp; footers</a>
                            <ul class="list-unstyled">
                              <li><a href="content_page_header.html" class="dropdown-item rounded">Page header</a></li>
                              <li>
                                <a href="content_page_footer.html" class="dropdown-item rounded disabled">
                                  Page footer
                                  <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-cube3"></i> Boxed layout</a>
                            <ul class="list-unstyled">
                              <li><a href="layout_boxed_default.html" class="dropdown-item rounded">Boxed with default sidebar</a></li>
                              <li><a href="layout_boxed_mini.html" class="dropdown-item rounded">Boxed with mini sidebar</a></li>
                              <li><a href="layout_boxed_full.html" class="dropdown-item rounded">Boxed full width</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Navigation</div>
                      <div class="dropdown-divider mb-2"></div>
                      <div class="dropdown-item-group mb-3 mb-md-0">
                        <ul class="list-unstyled">
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-menu3"></i> Navbars</a>
                            <ul class="list-unstyled">
                              <li>
                                <a href="#" class="dropdown-item rounded">Single navbar</a>
                                <ul class="list-unstyled">
                                  <li><a href="navbar_single_top_static.html" class="dropdown-item rounded">Single top static</a></li>
                                  <li><a href="navbar_single_top_fixed.html" class="dropdown-item rounded">Single top fixed</a></li>
                                  <li><a href="navbar_single_bottom_static.html" class="dropdown-item rounded">Single bottom static</a></li>
                                  <li><a href="navbar_single_bottom_fixed.html" class="dropdown-item rounded">Single bottom fixed</a></li>
                                </ul>
                              </li>
                              <li>
                                <a href="#" class="dropdown-item rounded">Multiple navbars</a>
                                <ul class="list-unstyled">
                                  <li><a href="navbar_multiple_top_static.html" class="dropdown-item rounded">Multiple top static</a></li>
                                  <li><a href="navbar_multiple_top_fixed.html" class="dropdown-item rounded">Multiple top fixed</a></li>
                                  <li><a href="navbar_multiple_bottom_static.html" class="dropdown-item rounded">Multiple bottom static</a></li>
                                  <li><a href="navbar_multiple_bottom_fixed.html" class="dropdown-item rounded">Multiple bottom fixed</a></li>
                                  <li><a href="navbar_multiple_top_bottom.html" class="dropdown-item rounded">Multiple - top and bottom</a></li>
                                  <li><a href="navbar_multiple_secondary_sticky.html" class="dropdown-item rounded">Multiple - secondary sticky</a></li>
                                </ul>
                              </li>
                              <li>
                                <a href="#" class="dropdown-item rounded">Content navbar</a>
                                <ul class="list-unstyled">
                                  <li><a href="navbar_component_single.html" class="dropdown-item rounded">Single navbar</a></li>
                                  <li><a href="navbar_component_multiple.html" class="dropdown-item rounded">Multiple navbars</a></li>
                                </ul>
                              </li>
                              <li class="dropdown-divider"></li>
                              <li><a href="navbar_colors.html" class="dropdown-item rounded">Color options</a></li>
                              <li><a href="navbar_sizes.html" class="dropdown-item rounded">Sizing options</a></li>
                              <li><a href="navbar_hideable.html" class="dropdown-item rounded">Hide on scroll</a></li>
                              <li><a href="navbar_components.html" class="dropdown-item rounded">Navbar components</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-transmission"></i> Horizontal navigation</a>
                            <ul class="list-unstyled">
                              <li><a href="navigation_horizontal_click.html" class="dropdown-item rounded">Submenu on click</a></li>
                              <li><a href="navigation_horizontal_hover.html" class="dropdown-item rounded">Submenu on hover</a></li>
                              <li><a href="navigation_horizontal_elements.html" class="dropdown-item rounded">With custom elements</a></li>
                              <li><a href="navigation_horizontal_tabs.html" class="dropdown-item rounded">Tabbed navigation</a></li>
                              <li><a href="navigation_horizontal_disabled.html" class="dropdown-item rounded">Disabled navigation links</a></li>
                              <li><a href="navigation_horizontal_mega.html" class="dropdown-item rounded">Horizontal mega menu</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-tree5"></i> Menu levels</a>
                            <ul class="list-unstyled">
                              <li><a href="#" class="dropdown-item rounded"><i class="icon-IE"></i> Second level</a></li>
                              <li>
                                <a href="#" class="dropdown-item rounded"><i class="icon-firefox"></i> Second level with child</a>
                                <ul class="list-unstyled">
                                  <li><a href="#" class="dropdown-item rounded"><i class="icon-android"></i> Third level</a></li>
                                  <li>
                                    <a href="#" class="dropdown-item rounded"><i class="icon-apple2"></i> Third level with child</a>
                                    <ul class="list-unstyled">
                                      <li><a href="#" class="dropdown-item rounded"><i class="icon-html5"></i> Fourth level</a></li>
                                      <li><a href="#" class="dropdown-item rounded"><i class="icon-css3"></i> Fourth level</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="#" class="dropdown-item rounded"><i class="icon-windows"></i> Third level</a></li>
                                </ul>
                              </li>
                              <li><a href="#" class="dropdown-item rounded"><i class="icon-chrome"></i> Second level</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Extras</div>
                      <div class="dropdown-divider mb-2"></div>
                      <div class="dropdown-item-group mb-3 mb-md-0">
                        <ul class="list-unstyled">
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-indent-decrease2"></i> Sidebars</a>
                            <ul class="list-unstyled">
                              <li>
                                <a href="#" class="dropdown-item rounded">Main sidebar</a>
                                <ul class="list-unstyled">
                                  <li><a href="sidebar_default_collapse.html" class="dropdown-item rounded">Default collapsible</a></li>
                                  <li><a href="sidebar_default_hide.html" class="dropdown-item rounded">Default hideable</a></li>
                                  <li><a href="sidebar_default_hidden.html" class="dropdown-item rounded">Default hidden</a></li>
                                  <li><a href="sidebar_mini_collapse.html" class="dropdown-item rounded">Mini collapsible</a></li>
                                  <li><a href="sidebar_mini_hide.html" class="dropdown-item rounded">Mini hideable</a></li>
                                  <li><a href="sidebar_mini_hidden.html" class="dropdown-item rounded">Mini hidden</a></li>
                                  <li class="dropdown-divider"></li>
                                  <li><a href="sidebar_default_sections.html" class="dropdown-item rounded">Sectioned sidebar</a></li>
                                  <li><a href="sidebar_default_stretched.html" class="dropdown-item rounded">Stretched sidebar</a></li>
                                  <li><a href="sidebar_default_color_dark.html" class="dropdown-item rounded">Dark color</a></li>
                                  <li><a href="sidebar_default_color_custom.html" class="dropdown-item rounded">Custom color</a></li>
                                  <li><a href="sidebar_default_color_sections_custom.html" class="dropdown-item rounded">Custom sections color</a></li>
                                </ul>
                              </li>
                              <li>
                                <a href="#" class="dropdown-item rounded">Secondary sidebar</a>
                                <ul class="list-unstyled">
                                  <li><a href="sidebar_secondary_after.html" class="dropdown-item rounded">After default</a></li>
                                  <li><a href="sidebar_secondary_before.html" class="dropdown-item rounded">Before default</a></li>
                                  <li><a href="sidebar_secondary_hidden.html" class="dropdown-item rounded">Hidden by default</a></li>
                                  <li class="dropdown-divider"></li>
                                  <li><a href="sidebar_secondary_sections.html" class="dropdown-item rounded">Sectioned sidebar</a></li>
                                  <li><a href="sidebar_secondary_stretched.html" class="dropdown-item rounded">Stretched sidebar</a></li>
                                  <li><a href="sidebar_secondary_color_dark.html" class="dropdown-item rounded">Dark color</a></li>
                                  <li><a href="sidebar_secondary_color_custom.html" class="dropdown-item rounded">Custom color</a></li>
                                  <li><a href="sidebar_secondary_color_sections_custom.html" class="dropdown-item rounded">Custom sections color</a></li>
                                </ul>
                              </li>
                              <li>
                                <a href="#" class="dropdown-item rounded">Right sidebar</a>
                                <ul class="list-unstyled">
                                  <li><a href="sidebar_right_default_collapse.html" class="dropdown-item rounded">Show - collapse main</a></li>
                                  <li><a href="sidebar_right_default_hide.html" class="dropdown-item rounded">Show - hide main</a></li>
                                  <li><a href="sidebar_right_default_toggle.html" class="dropdown-item rounded">Show - fix default width</a></li>
                                  <li><a href="sidebar_right_mini_toggle.html" class="dropdown-item rounded">Show - fix mini width</a></li>
                                  <li><a href="sidebar_right_secondary_hide.html" class="dropdown-item rounded">Show - hide secondary</a></li>
                                  <li><a href="sidebar_right_visible.html" class="dropdown-item rounded">Visible by default</a></li>
                                  <li class="dropdown-divider"></li>
                                  <li><a href="sidebar_right_sections.html" class="dropdown-item rounded">Sectioned sidebar</a></li>
                                  <li><a href="sidebar_right_stretched.html" class="dropdown-item rounded">Stretched sidebar</a></li>
                                  <li><a href="sidebar_right_color_dark.html" class="dropdown-item rounded">Dark color</a></li>
                                  <li><a href="sidebar_right_color_custom.html" class="dropdown-item rounded">Custom color</a></li>
                                  <li><a href="sidebar_right_color_sections_custom.html" class="dropdown-item rounded">Custom sections color</a></li>
                                </ul>
                              </li>
                              <li class="dropdown-divider"></li>
                              <li><a href="sidebar_components.html" class="dropdown-item rounded">Sidebar components</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="#" class="dropdown-item rounded"><i class="icon-sort"></i> Vertical navigation</a>
                            <ul class="list-unstyled">
                              <li><a href="navigation_vertical_collapsible.html" class="dropdown-item rounded">Collapsible menu</a></li>
                              <li><a href="navigation_vertical_accordion.html" class="dropdown-item rounded">Accordion menu</a></li>
                              <li><a href="navigation_vertical_bordered.html" class="dropdown-item rounded">Bordered navigation</a></li>
                              <li><a href="navigation_vertical_right_icons.html" class="dropdown-item rounded">Right icons</a></li>
                              <li><a href="navigation_vertical_badges.html" class="dropdown-item rounded">Badges</a></li>
                              <li><a href="navigation_vertical_disabled.html" class="dropdown-item rounded">Disabled items</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="navigation_horizontal_mega.html" class="dropdown-item font-weight-semibold rounded">
                              <i class="icon-grid52 text-indigo-400"></i>
                              <span class="text-indigo-400">Mega menu component</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="icon-strategy mr-2"></i>
                Starter kit
              </a>

              <div class="dropdown-menu">
                <div class="dropdown-header">Basic layouts</div>
                <div class="dropdown-submenu">
                  <a href="#" class="dropdown-item dropdown-toggle"><i class="icon-grid2"></i> Sidebars</a>
                  <div class="dropdown-menu">
                    <a href="../seed/sidebar_none.html" class="dropdown-item">No sidebar</a>
                    <a href="../seed/sidebar_main.html" class="dropdown-item">1 sidebar</a>
                    <div class="dropdown-submenu">
                      <a href="#" class="dropdown-item dropdown-toggle">2 sidebars</a>
                      <div class="dropdown-menu">
                        <a href="../seed/sidebar_secondary.html" class="dropdown-item">Secondary sidebar</a>
                        <a href="../seed/sidebar_right.html" class="dropdown-item">Right sidebar</a>
                      </div>
                    </div>
                    <div class="dropdown-submenu">
                      <a href="#" class="dropdown-item dropdown-toggle">3 sidebars</a>
                      <div class="dropdown-menu">
                        <a href="../seed/sidebar_right_hidden.html" class="dropdown-item">Right sidebar hidden</a>
                        <a href="../seed/sidebar_right_visible.html" class="dropdown-item">Right sidebar visible</a>
                      </div>
                    </div>
                    <a href="../seed/sidebar_sections.html" class="dropdown-item">Sectioned sidebar</a>
                    <a href="../seed/sidebar_stretched.html" class="dropdown-item">Stretched sidebar</a>
                  </div>
                </div>
                <div class="dropdown-submenu">
                  <a href="#" class="dropdown-item dropdown-toggle"><i class="icon-paragraph-justify3"></i> Navbars</a>
                  <div class="dropdown-menu">
                    <a href="../seed/navbar_main_fixed.html" class="dropdown-item">Main navbar fixed</a>
                    <a href="../seed/navbar_main_hideable.html" class="dropdown-item">Main navbar hideable</a>
                    <a href="../seed/navbar_secondary_sticky.html" class="dropdown-item">Secondary navbar sticky</a>
                    <a href="../seed/navbar_both_fixed.html" class="dropdown-item">Both navbars fixed</a>
                  </div>
                </div>
                <div class="dropdown-header">Optional layouts</div>
                <a href="../seed/layout_boxed.html" class="dropdown-item"><i class="icon-align-center-horizontal"></i> Boxed layout</a>
              </div>
            </li> %>
          </ul>

          <ul class="navbar-nav navbar-nav-highlight ml-md-auto">
            <%# <li class="nav-item dropdown">
              <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="icon-make-group mr-2"></i>
                Connect
              </a>

              <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                <div class="dropdown-content-body p-2">
                  <div class="row no-gutters">
                    <div class="col-12 col-sm-4">
                      <a href="#" class="d-block text-default text-center ripple-dark rounded p-3">
                        <i class="icon-github4 icon-2x"></i>
                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Github</div>
                      </a>

                      <a href="#" class="d-block text-default text-center ripple-dark rounded p-3">
                        <i class="icon-dropbox text-blue-400 icon-2x"></i>
                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Dropbox</div>
                      </a>
                    </div>
                    
                    <div class="col-12 col-sm-4">
                      <a href="#" class="d-block text-default text-center ripple-dark rounded p-3">
                        <i class="icon-dribbble3 text-pink-400 icon-2x"></i>
                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Dribbble</div>
                      </a>

                      <a href="#" class="d-block text-default text-center ripple-dark rounded p-3">
                        <i class="icon-google-drive text-success-400 icon-2x"></i>
                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Drive</div>
                      </a>
                    </div>

                    <div class="col-12 col-sm-4">
                      <a href="#" class="d-block text-default text-center ripple-dark rounded p-3">
                        <i class="icon-twitter text-info-400 icon-2x"></i>
                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Twitter</div>
                      </a>

                      <a href="#" class="d-block text-default text-center ripple-dark rounded p-3">
                        <i class="icon-youtube text-danger icon-2x"></i>
                        <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Youtube</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li> %>
            <% if current_user %>
            <li class="nav-item">
              <a href="/sign_out" class="navbar-nav-link">
                Logout
                <i class="icon-switch ml-2"></i>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>