<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form action="<%= categories_path %>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <div class="form-group">
                        <input type="text" name="category[name]" placeholder="Enter a name..." class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <select name="category[category_id]" class="form-control">
                            <option>Select one...</option>
                            <% @categories.each do |item| %>
                                <option value="<%= item.id %>"><%= item.slug %></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>